<html>
   <head>
      <title>Login</title>
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.5.0/dist/semantic.min.css">
      <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.5.0/dist/semantic.min.js"></script>  
   </head>
   <body>
      <div style="margin-top: 50px;" class="ui container">
         <h1 class="ui center aligned header">Log in</h1>
         <form class="ui form" method="POST" action="{{ url_for('login') }}">
            {{ form.csrf_token }}
            <div class="field">{{ form.username.label }} {{ form.username() }}
               {{ form.password.label }} {{ form.password() }}
            </div>
            <input class="ui blue button"{{ form.submit() }}
         </form>
      </div>
   </body>
</html>
